* { padding: 0; margin: 0; }

h1 { padding: 10px; background-color: #221122; color: #fff; }
div { background-color: antiquewhite; margin-bottom: 30px; }

.font-red { color: red; }

#type-1 { padding: 20px 40px; }
#type-2 { padding: 50px 40px 20px; }
#type-3 { padding: 50px 40px 20px 10px; font-style: italic; }
#type-4 { padding: 50px 40px 0 0; }